<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAds-6flUCB4Ovi2BXtIcbBXXr5CWfDWZE</string>
	<key>GCM_SENDER_ID</key>
	<string>970648688317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sagopasam.app</string>
	<key>PROJECT_ID</key>
	<string>sagopaas-f66fd</string>
	<key>STORAGE_BUCKET</key>
	<string>sagopaas-f66fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970648688317:ios:59fb5a4cb5f7c2167d89d4</string>
</dict>
</plist>
